body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

header h2 {
    margin: 0;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.login-box {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo p {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    color: #ffcc00;
    text-shadow:
        3px 3px 0 #1a0f26,
        6px 6px 0 #f1c5e3;
    margin: 0;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.login-option {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.login-option a {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.login-option a i {
    margin-right: 10px;
}

.login-option a:hover {
    background-color: #0056b3;
}
    
footer {
    background-color: hsl(116, 87%, 52%);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logout-btn {
    background-color: #dc3545; /* Rojo */
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el mouse */
}
